<!DOCTYPE html>
<html ng-app="sarg-travel">
<head>
  <title>SARG-Travel</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Jquery should go BEFORE Bootstrap JS FILE because it relies on it -->
  <script src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
  <script src="https://cdn.jsdelivr.net/satellizer/0.15.5/satellizer.min.js"></script>
  <script type="text/javascript" src="scripts/controllers/authLoginController.js"></script>
  <script type="text/javascript" src="scripts/controllers/authLogoutController.js"></script>
  <script type="text/javascript" src="scripts/controllers/mainController.js"></script>
  <script type="text/javascript" src="scripts/controllers/postsIndexController.js"></script>
  <script type="text/javascript" src="scripts/controllers/postsNewController.js"></script>
  <script type="text/javascript" src="scripts/controllers/postsShowController.js"></script>
  <script type="text/javascript" src="scripts/controllers/postsEditController.js"></script>
  <script type="text/javascript" src="scripts/controllers/userProfileController.js"></script>
  <script type="text/javascript" src="scripts/controllers/userSignupController.js"></script>
  <script type="text/javascript" src="scripts/services/user.service.js"></script>
  <script type="text/javascript" src="scripts/controllers/cityIndexController.js"></script>
  <script type="text/javascript" src="scripts/controllers/cityEditController.js"></script>
  <script type="text/javascript" src="scripts/controllers/cityNewController.js"></script>
  <script type="text/javascript" src="scripts/controllers/cityShowController.js"></script>
  <script type="text/javascript" src="scripts/routes.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet">

</head>
<body ng-controller="MainController as main">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/">SARG-Travel</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/cities">Cities</a></li>
          <li><a href="/posts">Posts</a></li>
          <!-- You should target your hrefs to where you defined them in routes.js -->
          <li ng-show="!main.currentUser.isLoggedIn()"><a href="/signup">Sign Up</a></li>
          <li ng-show="!main.currentUser.isLoggedIn()"><a href="/login">Log In</a></li>
          <li ng-show="main.currentUser.isLoggedIn()"><a href="/profile">{{main.currentUser.displayName}}'s Profile</a></li>
          <li ng-show="main.currentUser.isLoggedIn()"><a href="/logout">Log Out</a></li>
          <!-- <button><a href="/logout">Logout</a></button> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- You need to include a div with ng-view in it, this is where the templates are displayed -->
  <div ng-view></div>
</body>
</html>
