<div class="page-header" ng-controller="SignupController as sc">
  <h1>User Registration</h1>
</div>

<form ng-submit="sc.signup()">
  <label>Name:</label>
    <input  class="form-control" type="text" name="Name" required  placeholder="type your name here" ng-model="sc.new_user.displayName">
    <br>
  <label>Email:</label>
    <input  class="form-control" type="text" name="Email" pattern=".{3,}"   required title="3 characters minimum" placeholder="type your email here" ng-model="sc.new_user.email">
    <br>
  <label>Password:</label>
    <input class="form-control" type="password" name="password" pattern=".{3,}"   required title="3 characters minimum" placeholder="type your password here" ng-model="sc.new_user.password">
    <br>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
