<div class="loginpic">

   <div class="logindiv">


<h3 id="loginwelcome" class="text-center">Welcome Back!</h3>
<br>

<div class="loginuser">


 <form ng-submit="lc.login()">

   <div class="form-group">
     <input id="loginemail" type="text" ng-model="lc.new_user.email" class="form-control" placeholder="Email">
   </div>

   <div class="form-group">
     <input id="loginpassword" type="password" ng-model="lc.new_user.password" class="form-control" placeholder="Password">
   </div>

   <input id="loginbutton" type="submit" value="Log In" class="btn btn-block btn-info">
 </form>

 <br>

</div>
<p class="text-muted">Don't have an account? <a id="signuphere" href="/signup">Sign up here.</a></p>

</div>

</div>
