/*SPLASH PAGE*/

#welcome {
 text-align: center;
 color: rgb(59, 175, 195);
 font-family: 'Lobster', cursive;
 font-size: 120px;
 margin-top: -80px;
 padding-top: 90px;

}

#search {
 text-align: center;
 margin-top: 200px;
 font-family: 'Lobster', cursive;
 font-size: 23px;
}

#searchedCities {
  text-align: center;
  font-family: 'Lobster', cursive;
  margin-top: 5px;
  font-size: 18px;
}

.background {
 background-image: url("../images/background.jpg");
 min-height: 700px;
 background-size: cover;
 background-position: center;
 background-position: fixed;
 margin-bottom: -50px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 40%;
    margin-top: 45px;
    box-shadow: 10px 10px 5px;
}

.footer {
 font-family: 'Lobster', cursive;

 font-size: 20px;
 text-align: center;
 padding: 5px;
 margin-top: 30px;
}

/*NAV BAR*/
/*.navbar {
 position: fixed;
}*/

/*.card-block {
 background-color: rgb(250, 110, 56);
 margin: 10%;
 margin-left: auto;
 font-size: 20px;
}*/

/*PROFILE PAGE*/

#profilepage {
  margin-top: -20px;
  padding-bottom: 20px;
}

#profile{
  padding-top: 10px;
}

#editprofile {
  margin-right: 50%;
  margin-left: 2%;
}

.defaultinput {

  font-size: 18px;
}

.profilefont {
  font-family: 'Times New Roman', cursive;
  font-size: 18px;
}

#savebutton {
  width: 15%;
  margin-left: 2%;

}

.edituserprofile {
  width: 25%;
  margin-left: 2%;
}

.card-block {
  margin-left: 7%;
  margin-right: 10%;
  width: 500px;

}

#userinfo {
  margin-top: 5%;
}

#editbutton {
  margin-left: 20px;
}

/*USER REGISTRATION PAGE*/

.form-control {
  width: 40%;
}

#userregistrationtitle {
  margin-left: 3%;
}
#formsubmitpage {
  margin-left: 3%;

}

#userregistrationpic {

}

/*LOGIN PAGE*/
.text-muted {
  text-align: center;
}

.loginuser {
  text-align: center;
}
