/*SPLASH PAGE*/

#welcome {
 text-align: center;
 color: rgb(59, 175, 195);
 font-family: 'Lobster', cursive;
 font-size: 120px;
 margin-top: -80px;
 padding-top: 90px;

}

#search {
 text-align: center;
 margin-top: 200px;
 font-family: 'Lobster', cursive;
 font-size: 23px;
}

#searchedCities {
  text-align: center;
  font-family: 'Lobster', cursive;
  margin-top: 5px;
  font-size: 18px;
}

#cityName {
  text-align: center;
}

.background {
 background-image: url("../images/background.jpg");
 min-height: 700px;
 background-size: cover;
 background-position: center;
 background-position: fixed;
 margin-bottom: -50px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 40%;
    margin-top: 45px;
    box-shadow: 10px 10px 5px;
    margin: auto;

}

.carousel {
  margin: auto;
}



.footer {
 font-family: 'Lobster', cursive;
 font-size: 20px;
 text-align: center;
 padding: 5px;
 margin-top: 30px;
}

/*PROFILE PAGE*/

#profilepage {
  margin-top: -20px;
  padding-bottom: 20px;
}

#profile{
  padding-top: 10px;
}

#editprofile {
  margin-right: 50%;
  margin-left: 2%;
}

.defaultinput {

  font-size: 18px;
}

.profilefont {
  font-family: 'Times New Roman', cursive;
  font-size: 18px;
}

#savebutton {
  width: 15%;
  margin-left: 2%;

}

.edituserprofile {
  width: 25%;
  margin-left: 2%;
}

.card-block {
  margin-left: 7%;
  margin-right: 10%;
  width: 500px;

}

#userinfo {
  margin-top: 5%;
}

#editbutton {
  margin-left: 20px;
}

.displayusername{
font-size: 45px;
}



/*Sign-Up Page USER - REGISTRATION */

.form-control {
  width: 40%;
  padding: 1%;
}

#userregistrationtitle {
  margin-left: 3%;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 60px;
}

#formsubmitpage {
  margin-left: 3%;
  font-size: 20px;
  margin-top: 15px;
  color: white;

}

.userregistrationpic {
  background-image: url("../images/icepic.jpg");
  min-height: 800px;
  background-size: cover;
  background-position: center;
  background-position: fixed;
  margin-bottom: -30px;
  margin-top: -50px;
}

#userregistrationdiv {
  padding-top: 5%;
}



/*LOGIN PAGE*/
.logindiv {
  padding-top: 5%;
}

.text-muted {
  text-align: center;
  color: white;
}

#loginbutton {
  width: 10%;
  display: inline-block;

}

.loginuser {
  text-align: center;
  margin: 1%;
}

#loginemail {
  width: 400px;
  text-align: center;
  margin: auto;
  padding: .5%;
}

#loginpassword {
  width: 400px;
  text-align: center;
  margin: auto;
  padding: .5%;
}

.loginpic{
  background-image: url("../images/womanwater.jpg");
  min-height: 800px;
  background-size: cover;
  background-position: center;
  background-position: fixed;
  margin-bottom: -30px;
  margin-top: -50px;
}

#loginwelcome {
  color: white;
  font-size: 60px;
  font-family: 'Lobster', cursive;
  margin-bottom: 30px;

}

#signuphere {
  color: white;
}

/*CITIES PAGE*/

.citiespic {
  background-image: url("../images/nightsky.jpg");
  min-height: 800px;
  background-size: cover;
  background-position: center;
  background-position: fixed;
  margin-bottom: -30px;
  margin-top: -20px;
}

#cities {
  color: white;
  font-size: 95px;
  font-family: 'Lobster', cursive;
}

.citiesbackground {
  padding-top: 3%;
  text-align: center;

}

.citynames {
  text-align: center;
  color: white;
  font-size: 20px;
}

#newcitiesbutton {
  width: 10%;
  display: inline-block;
  margin-bottom: 20px;

}

.citydiv{
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

#addnewcitypostbutton {
  width: 15%;
  display: inline-block;

}

#citybuttons {
margin-left: 42%;
}

#citybackground {
  background-color: rgb(115, 196, 233);
  min-height: 800px;
  background-size: cover;
  background-position: center;
  background-position: fixed;
  margin-bottom: -30px;
  margin-top: -20px;
  padding-top: 3%;
}


/*CREATE NEW POST PAGE*/

#createnewpostbutton {
  width: 15%;
  display: inline-block;
}
