<div class="pull-right col-xl-4">
  <a class="btn btn-warning col-xl-2" ng-href="/">Discard Changes</a>
  <a class="btn btn-danger col-xl-2" ng-click="citiesEditCtrl.destroy()">Delete Post</a>
  <hr>
</div>
<form ng-submit="citiesEditCtrl.update()">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="City" ng-model="citiesEditCtrl.city.cityName">
  </div>
  <div class="form-group">
    <textarea class="form-control" placeholder="country" ng-model="citiesEditCtrl.city.country"></textarea>
  </div>
  <input type="submit" value="Update Post" class="btn btn-block btn-info">
</form>
